.app-button {
  padding: 0 20px;
  height: 40px;
  border: none;
  border-radius: 5px;
}

.app-button.primary {
  background-color: var(--primary-color);
  color: var(--light-color);
}

.app-button.primary:hover {
  background-color: var(--primary-hover-color);
}

.app-button.outline {
  background-color: var(--light-color);
  color: var(--dark-color);
  border: 1px solid var(--gray-light);
}

.app-button.outline:hover {
  background-color: var(--light-color);
}
