.app-select {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--gray-light);
  border-radius: 5px;
  min-width: 80px;
}

.app-select:focus {
  outline: none;
  border-color: var(--primary-color);
}

.app-select:active {
  border-color: var(--primary-color);
}
