#eventTable_wrapper > div:first-child {
  margin-top: 0 !important;
}

#eventTable_wrapper > div:nth-child(2) {
  margin-top: 0 !important;
  gap: 10px;
}

#eventTable_wrapper .dt-paging > nav {
  display: flex;
  justify-content: center;
}

#eventTable_wrapper .dt-paging > nav > ul {
  margin-bottom: 0;
}

#eventTable_wrapper .dt-paging > nav > ul > li > button:focus {
  box-shadow: none;
}

#eventTable_wrapper .dt-paging > nav > ul > li:not(.disabled) > button {
  color: var(--primary-color);
}

#eventTable_wrapper .dt-paging > nav > ul > li.active > button {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--light-color);
}

#eventTable_wrapper .dt-info {
  text-align: center;
}

.app-table.table {
  display: flex;
}

.app-table.table > thead,
.app-table.table > colgroup {
  display: none;
}

.app-table.table > tbody {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  gap: 20px;
}

.app-table.table > tbody > tr {
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--dark-color);
}

.app-table.table > tbody > tr > td {
  border-color: transparent;
}

.app-table.table > :not(:last-child) > :last-child > * {
  border-color: transparent;
}

.app-table.table > tbody > tr > td > div.card-content-container {
  display: flex;
  gap: 10px;
}

.app-table.table > tbody > tr > td > div.card-content-container > .card-content-title {
  font-weight: 600;
  color: var(--primary-color);
}

.app-table.table > tbody > tr > td > div.card-action-container {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
  align-items: center;
  border-top: 1px solid var(--gray-light);
  padding-top: 8px;
}

.app-table.table > tbody > tr > td > div.card-action-container > .card-divider {
  border-left: 1px solid var(--gray-light);
  width: 1px;
  height: 20px;
}

.app-table.table > tbody > tr > td > div.table-action-container {
  display: none;
}

.app-table.table .card-action-container > button {
  background-color: transparent;
  border: none;
  color: var(--dark-color);
}

.app-table.table .card-action-container > button:hover > i.fa-pen {
  color: var(--primary-color);
}

.app-table.table .card-action-container > button:hover > i.fa-trash {
  color: var(--danger-color);
}

@media (min-width: 992px) {
  #eventTable_wrapper {
    margin: 0 12px;
  }

  #eventTable_wrapper > div:first-child {
    border: 1px solid var(--gray-light);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: none;
    overflow: hidden;
  }

  #eventTable_wrapper > div:nth-child(2) {
    margin-top: 0 !important;
    border: 1px solid var(--gray-light);
    border-top: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;
    gap: 10px;
  }

  .app-table.table {
    display: table;
  }

  .app-table.table > tbody {
    display: table-row-group;
  }

  .app-table.table > tbody > tr {
    display: table-row;
    border-left: none;
    border-right: none;
    box-shadow: none;
  }

  .app-table.table > tbody > tr > td {
    border-color: var(--gray-light);
  }

  .app-table.table > colgroup {
    display: table-column-group;
  }

  .app-table.table > thead {
    display: table-header-group;
  }

  .app-table.table > thead > tr > th:first-child {
    padding-left: 20px;
  }

  .app-table.table > thead > tr > th:last-child {
    padding-right: 20px;
  }

  .app-table.table > tbody > tr > td:first-child {
    padding-left: 20px;
  }

  .app-table.table > tbody > tr > td:last-child {
    padding-right: 20px;
  }

  .app-table.table {
    margin: 0;
  }

  .app-table.table > :not(:last-child) > :last-child > * {
    border-bottom-color: var(--gray-light);
  }

  #eventTable_wrapper > div > * {
    padding: 0;
  }

  .app-table.table > thead > tr > th {
    background-color: var(--white-lilac);
    color: var(--dove-gray);
    font-weight: 400;
  }

  .app-table.table > tbody > tr > td > div.card-content-container > .card-content-title {
    display: none;
  }

  .app-table.table > tbody > tr > td > div.card-action-container {
    display: none;
  }

  .app-table.table > tbody > tr > td > div.table-action-container {
    display: flex;
    gap: 10px;
  }
}
